@charset "utf-8";

html {}

body {
    background-color: #fff;
}

.head {
    margin-bottom: 5px;
    background-color: #fff;
}

/* header */
header {
    height: 90px;
    background: #186AC9;
}

.atlas {
    position: absolute;
    width: 100%;

}

.atlas-icon {
    position: absolute;
    width: 120px;
    left: 15px;
    top: 20px;
}




/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 10 10 70%;
    background-color: #fff;
    border-bottom: 8px solid #dddddd;
}

#side-bar {
    flex: 0 0 19%;
    height: 100vh;
    border-left: 1px solid #727272;
    background-color: #fff;
}

#confirm {
    position: relative;
    height: 280px;
    border-bottom: 1px solid #000;
}

.side-username {
    padding: 20px 10px;
}

.follow-list {
    position: absolute;
    top: 100px;
    right: 20px;
}

.follow-count {
    display: flex;
    padding: 3px;
    margin: 10px 10px;
}

.follow-count>p {
    justify-content: center;
    width: 100%;
}

.follower-list {
    position: absolute;
    top: 200px;
    right: 20px;
}

.follower-count {
    display: flex;
    padding: 3px;
    margin: 70px 10px;
}

.follower-count>p {
    justify-content: center;
    width: 100%;
}

.search {
    margin: 20px 70px;
}


.header {
    display: flex;
    justify-content: space-between;
}

.username {
    color: #fff;
    position: absolute;
    padding: 0.4em 20px 0 0;
}

.user-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    margin: 0 5px 0 20px;
}

.accordion {
    position: relative;
    left: 0;
    width: 285px;
    top: 35px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 30px 0 30px;
}

.accordion-container {
    position: absolute;
    width: 100%;
    padding: 10px;
    border: 1px solid #0079c1;
    border-top: none;
    outline: 0;
    cursor: pointer;
}

.accordion-container .accordion-title {
    position: absolute;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    background: #000;
    cursor: pointer;
    margin: 0 10px;

}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {

    font-weight: bold;
}

/*.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
    color: white;
}*/



.accordion-title:after {
    content: "";
    position: absolute;
    right: 80px;
    top: 10px;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.accordion-title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px;
}

.accordion-content {
    position: absolute;
    top: 55px;
    left: 24px;
    display: none;
    width: 100%;
    text-align: center;
    border: solid 3px #191970;
    z-index: 10;
}

.accordion-content ul {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.accordion-content li {
    display: flex;
    height: 80px;
    white-space: nowrap;

}

.home {
    justify-content: center;
}

.home a {
    width: 100%;
    font-size: 25px;
    font-weight: lighter;
    background-color: #fff;
    color: #727272;
    border: none;
    padding: 25px;
}

.profile a {
    width: 100%;
    font-size: 25px;
    font-weight: lighter;
    background-color: #191970;
    color: #fff;
    border: none;
    padding: 25px;
}

.logout a {
    width: 100%;
    font-size: 25px;
    font-weight: lighter;
    background-color: #fff;
    color: #727272;
    border: none;
    padding: 25px;
}

/* CSS for CodePen */
.accordion-container {
    width: 10px;
    margin: 1.875em auto;
}



.form-icon {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50px;
    z-index: 10;
}

.form-group {
    position: relative;

}

.form-control {
    position: relative;
    box-sizing: border-box;
    border: none;
    border-bottom: 8px solid #dddddd;
    width: 100%;
    height: 160px;
    margin-bottom: 5px;
    padding-left: 120px;
}

input::placeholder {
    font-size: 20px;
    color: #aaa;
}

.btn-success.pull-right {
    position: absolute;
    width: 100px;
    right: 100px;
    bottom: 15px;
}

/*.card-content {
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px black;
    width: 100%;
}*/


.card-content {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: #aaa 1px;
    background-color: #fff;
}

.card-content ul {
    left: 20px;
    border-bottom: solid 1px #aaa;
    overflow: hidden;
    padding: 10px;
    height: 12vh;
}

.card-content li {
    margin-left: 70px;
    display: flex;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
    justify-content: space-between;
}

.li-icon {
    margin-bottom: 10px;
    width: 50px;
}

.li-name {
    position: absolute;
    top: 20px;
    left: 80px;
    margin-bottom: 20px;
    font-weight: bold;
}

.li-post {
    position: absolute;
    left: 80px;
    top: 50px;
    margin-bottom: 5px;
}

.li-time {
    position: absolute;
    top: 11px;
    right: 80px;
    font-size: small;
}

.post-content {
    position: relative;
    width: 100%;
    padding: 15px;
}

.post-content>div {
    display: flex;
    justify-content: space-between;
}

.content {
    padding-top: 10px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.modal_post {
    height: 200px;
    width: 100%;
}

.js-modal-open {
    position: absolute;
    right: 100px;
    bottom: 15px;
    width: 50px;
}

.edit-img {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 40px;
    padding-top: 10px;
}

.trash-img {
    position: absolute;
    right: 50px;
    bottom: 15px;
    width: 50px;
    padding-top: 10px;
}

.search-area {
    display: flex;
    position: relative;
    width: 100%;
    border-bottom: 8px solid #dddddd;
}

.search-form {
    box-sizing: border-box;
    width: 100%;
    height: 160px;
}

.search-control {
    position: absolute;
    width: 400px;
    height: 50px;
    top: 40px;
    left: 50px;
    border: 2px solid;
    border-radius: 0.5em;
    padding: 3px 0px 0px 10px;

}

.search-btn {
    position: absolute;
    width: 50px;
    top: 45px;
    left: 480px;
    border-radius: 0.5em;
}

.search-word {
    position: absolute;
    left: 700px;
    top: 65px;
    font-size: 28px;
}

.btn {
    font-size: 1.6rem;
    cursor: pointer;
    text-align: center;
    line-height: 2.5;
    vertical-align: middle;
    border-radius: 0.5rem;
    color: white;
    background-color: #186AC9;
    text-decoration: none;
    font-size: 1rem;
    width: 130px;
    padding: 2px 10px;
}

.user-box {
    width: 100%;
    height: auto;
}

.user-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.user-list {
    display: flex;
    margin: 0px 0px 0px 300px;
}

.s-icon {
    width: 50px;
    margin: 10px 20px 10px 10px;
}

.s-user {
    margin: 27px 0px 0px 0px;
    font-weight: 500;
    font-size: 1.4rem;
}

.btn-bye {
    cursor: pointer;
    text-align: center;
    line-height: 2.5;
    vertical-align: middle;
    border-radius: 0.5rem;
    color: white;
    background-color: #ff3333;
    text-decoration: none;
    font-size: 1rem;
    width: 130px;
    height: 40px;
    border: none;
    margin: 15px 400px 0px 0px;
}

.btn-wel {
    cursor: pointer;
    text-align: center;
    line-height: 2.5;
    vertical-align: middle;
    border-radius: 0.5rem;
    color: white;
    background-color: #00bfff;
    text-decoration: none;
    font-size: 1rem;
    width: 130px;
    height: 40px;
    border: none;
    margin: 15px 400px 0px 0px;
}

.follow-list a {
    color: #fff;
}

.follow-list a:visited {
    color: #fff;
}

.follower-list a {
    color: #fff;
}

.search a {
    color: #fff;
}

/*.follow-list a:visited,
.follow-list a:link,
.follower-list a:visited,
.follower-list a:link,
.search a:visited,
.search a:link {
    color: white;
}*/

/*プロフィール編集*/

.profile-edit {
    display: block;

}

.form-profile {
    width: 100%;
    background-color: #fff;
    margin: 50px 0px;
}

.form-profileEdit {
    visibility: middle;
    width: 400px;
    height: 40px;
    margin: 0px 250px 0px 0px;
    background-color: #eeeeee;
    border: 1px solid black;
}

label {
    margin: 10px 0px 0px 350px;
    font-weight: 600;
    padding: 2px 0;
}

.form-profile-group {
    display: flex;
    margin: 40px 0px 5px 0px;
    justify-content: space-between;
}

.form-profile-group2 {
    display: flex;
    width: 400px;
    height: 100px;
    margin: 0px 250px 0px 0px;
    justify-content: space-between;
    background-color: #eeeeee;
    border: 1px solid black;
}

.file {
    visibility: middle;
    margin: 30px auto;
    width: 250px;
    height: 30px;
    color: #a9a9a9;
    font-size: 30px;
    font-weight: lighter;
    background-color: #fff;
    text-align: center;

}

.profile-icon {
    width: 50px;
    position: absolute;
    top: 140px;
    left: 250px;
}


input[type="file"] {
    display: none;
}

.btn-pEdit {
    cursor: pointer;
    text-align: center;
    line-height: 2.5;
    vertical-align: middle;
    border-radius: 0.5rem;
    color: white;
    background-color: #ff0461;
    text-decoration: none;
    font-size: 1rem;
    width: 150px;
    height: 40px;
    border: none;
    margin: 0px 0px 10px 500px;
}

.text-danger {
    margin: 0px 570px;
}

h2 {
    font-size: 30px;
    margin: 20px 100px 20px 50px;
}

.follow-area {
    display: flex;
    width: auto;
    padding: 20px;
    border-bottom: 8px solid #dddddd;
}

.followList {
    justify-content: center;
    margin: 5px;
}

.follow-icon {
    width: 60px;
}


.user-profile {
    position: relative;
    width: 100%;
    border-bottom: 8px solid #dddddd;
}

.p-icon {
    position: absolute;
    width: 50px;
    top: 0px;
    left: 270px;
}

.otherName {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.p-name {
    margin: 10px 700px 0px 0px;
}

.otherBio {
    margin: 20px 0px 40px 0px;
    display: flex;
    justify-content: space-between;
}

.p-bio {
    margin: 1px 700px 0px 0px;
}

.btn-danger {
    cursor: pointer;
    text-align: center;
    line-height: 2.5;
    vertical-align: middle;
    border-radius: 0.5rem;
    color: white;
    background-color: #ff3333;
    text-decoration: none;
    font-size: 1rem;
    width: 130px;
    height: 40px;
    border: none;
    position: absolute;
    top: 70px;
    right: 10px;
}
